*{
    text-decoration: none;
    font-family: sans-serif;
}
.logo{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;


}
.header{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:#ffff;
    border-radius: 15px;
    padding: 5px;
}
.main-h1{
    font-size: 2.9rem;
    color: orangered;
}
.menu{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1rem;
    border-radius: 15px;
}
.menu-a{
    color: #ffff;
}
.menu-a:hover{
    text-decoration:underline;
}