
*{
    text-decoration: none;
    font-family: sans-serif;
}
.logo{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.header{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:#ffff;
    border-radius: 15px;
    padding: 5px;
}
.menu{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1rem;
    border-radius: 15px;
}
.menu-a{
    color: #ffff;
}
.menu-a:hover{
    text-decoration:underline;
}
.img-fundo{
    background-image: url(./img/DALL·E\ 2023-02-10\ 09.09.30\ -\ continue.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
}   
.logo{
    width: 15rem;
}
@media only screen and (max-width: 1200px) {
    .logo{
        width: 12rem;
    }
    .menu-a{
    
    }
  }
  @media only screen and (max-width: 1024px) {
    .logo{
        width: 10rem;
    }

  }
  @media only screen and (max-width: 768px) {
    .logo{
        width: 9rem;
    }
  }
  @media only screen and (max-width: 580px) {
    .menu-a{
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 400px) {
    .menu-a{
        font-size: 14px;
    }
    
    }