*{
    text-decoration: none;
    font-family: sans-serif;
}
.logo{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;


}
.header{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color:#ffff;
    border-radius: 15px;
    padding: 5px;
}
.main-h1{
    font-size: 2.9rem;
    color: orangered;
}
.menu{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 1rem;
    border-radius: 15px;
}
.menu-a{
    color: #ffff;
}
.menu-a:hover{
    text-decoration:underline;
}
body{
    background-color:  #d9d9d9; 
    text-decoration:  black;
}
.main{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 4rem 4rem;
    gap: 5rem;
}
.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-cen{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 70%;
    background-color: white;
}
.reta{
    border-bottom: 1px solid orangered;
    width: 20%;
}
.main-h2{
    font-size:2rem;
    font-weight: bold;
}
.imgdiv{
    background-color: orangered;
    border-radius: 5000px;
    padding: -10rem -10rem -13rem 0rem;
}



.main-h1{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 70%;
}

.preco-antigo{
    text-decoration: line-through;
}
.preco-atual{
    color: orangered;
    font-size: 2rem;
}
footer{
    background-color: black;
    color: #ffff;
    display: flex;

    align-items: center;
    flex-direction: column;
    padding:15px;
}
@media only screen and (max-width: 1300px) {
    .logo{
        width: 200px;
    }
    .div-cen{
        width: 80%;
    }
  }
  @media only screen and (max-width: 1200px){
    .main-div-img{
        width: 30rem;
    }
    .div-cen{
        width: 85%;
    }
}
  @media only screen and (max-width: 1024px) {
    .img-div1{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0rem 1rem 3rem;
    }
    .img-div2{
        background-color: orangered;
        border-radius: 550px;
        padding: 0rem 0rem 1rem 3rem;
    }
    .logo{
        width: 200px;
    }
    .div-cen{
        width: 90%;
    }
    .main-div-img{
        width: 20rem;
  }
  @media only screen and (max-width: 768px) {
    .logo{
        width: 200px;
    }
    .div-cen{
        width: 90%;
    }
    .main-h1{
        font-size: 2.2rem;
    }
    .main-div-img{
        width: 25rem;
    }
    img{
        border-radius: 30px;
    }
    .img-div1{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .img-div2{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }
  }
  @media only screen and (max-width: 500px) {
    .logo{
        width: 300px;
    }
    .main-div-img{
        width: 22rem;
    }
    .div-cen{
        width: 95%;
    }
  }
  @media only screen and (max-width: 450px) {
    .logo{
        width: 200px;
    }
    .div-cen{
        width: 100%;
    }
    .main-h1{
        font-size: 2rem;
    }
    .main-div-img{
        width: 18rem;
    }
    img{
        border-radius: 30px;
    }
    .img-div1{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .img-div2{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }
}
@media only screen and (max-width: 375px) {
    .logo{
        width: 150px;
    }
    .div-cen{
        width: 101%;
    }
    .main-h1{
        font-size: 2rem;
    }
    .main-div-img{
        width: 18rem;
    }
    img{
        border-radius: 30px;
    }
    .img-div1{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .img-div2{
        background-color: orangered;
        border-radius: 50px;
        padding: 0rem 0.5rem .5rem 0.5rem;
    }
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }
}